// CUSTOM
$colorMagenta       : #d43f3a;
$imagePath          : '/packages/miss_greek/images/';
$parallaxPanelCount : 5;


// BOOTSTRAP OVERRIDES
$icon-font-path : '/packages/miss_greek/fonts/bootstrap/';